Web References/CIFFinancialInformationDetailLoan/CIFFinancialInformationDetailLoan.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:s0="http://www.bankmandiri.co.id/mandiri/emas/ws/common/CIFFinancialInformationDetailLoan" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" targetNamespace="http://www.bankmandiri.co.id/mandiri/emas/ws/common/CIFFinancialInformationDetailLoan" name="CIFFinancialInformationDetailLoan" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <s:schema xmlns:tns="http://www.bankmandiri.co.id/mandiri/emas/ws/common/CIFFinancialInformationDetailLoan" targetNamespace="http://www.bankmandiri.co.id/mandiri/emas/ws/common/CIFFinancialInformationDetailLoan">
      <s:element name="CIFFinancialInformationRequestDoc" type="tns:CIFFinancialInformationRequestDoc" />
      <s:element name="CIFFinancialInformationResponseDoc" type="tns:CIFFinancialInformationResponseDoc" />
      <s:complexType name="CIFFinancialInformationRequestDoc">
        <s:sequence>
          <s:element name="CIFFinancialInformationRequest" nillable="true" type="tns:CIFFinancialInformationRequest" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="CIFFinancialInformationRequest">
        <s:sequence>
          <s:element minOccurs="0" name="soaHeader" nillable="true" type="tns:soaHeaderRequest" />
          <s:element minOccurs="0" name="securityHeader" nillable="true" type="tns:securityHeader" />
          <s:element minOccurs="0" name="dspHeader" nillable="true" type="tns:dspHeader" />
          <s:element minOccurs="0" name="dataHeader" nillable="true" type="tns:dataHeaderMbase" />
          <s:element name="body" nillable="true" type="tns:body" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="soaHeaderRequest">
        <s:sequence>
          <s:element minOccurs="0" name="externalId" nillable="true" type="tns:externalId" />
          <s:element name="tellerId" type="tns:tellerId" />
          <s:element name="journalSequence" type="tns:journalSequence" />
          <s:element name="transactionCode" nillable="true" type="tns:transactionCode" />
          <s:element name="channelId" nillable="true" type="tns:channelId" />
          <s:element name="timestamp" nillable="true" type="s:dateTime" />
        </s:sequence>
      </s:complexType>
      <s:simpleType name="externalId">
        <s:restriction base="s:string">
          <s:whiteSpace value="preserve" />
          <s:pattern value="\d{1,19}" />
        </s:restriction>
      </s:simpleType>
      <s:simpleType name="tellerId">
        <s:restriction base="s:long">
          <s:totalDigits value="7" />
        </s:restriction>
      </s:simpleType>
      <s:simpleType name="journalSequence">
        <s:restriction base="s:long">
          <s:totalDigits value="7" />
        </s:restriction>
      </s:simpleType>
      <s:simpleType name="transactionCode">
        <s:restriction base="s:string">
          <s:whiteSpace value="preserve" />
          <s:maxLength value="4" />
        </s:restriction>
      </s:simpleType>
      <s:simpleType name="channelId">
        <s:restriction base="s:string">
          <s:whiteSpace value="preserve" />
          <s:maxLength value="10" />
        </s:restriction>
      </s:simpleType>
      <s:complexType name="securityHeader">
        <s:sequence>
          <s:element name="challengeType" type="s:string" />
          <s:element name="corporateId" type="s:string" />
          <s:element minOccurs="0" name="customerAdditionalId" nillable="true" type="s:string" />
          <s:element name="appliNo" type="s:string" />
          <s:element name="challenge1" type="s:string" />
          <s:element minOccurs="0" name="challenge2" nillable="true" type="s:string" />
          <s:element minOccurs="0" name="challenge3" nillable="true" type="s:string" />
          <s:element minOccurs="0" name="challenge4" nillable="true" type="s:string" />
          <s:element name="responseToken" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="dspHeader">
        <s:sequence>
          <s:element minOccurs="0" name="destinationId" nillable="true" type="tns:destinationId" />
          <s:element minOccurs="0" name="messageStatus" nillable="true" type="tns:messageStatus" />
          <s:element minOccurs="0" name="bankIdNumber" nillable="true" type="tns:bankIdNumber" />
          <s:element minOccurs="0" name="node" nillable="true" type="tns:node" />
          <s:element minOccurs="0" name="retrievalReferenceNumber" nillable="true" type="tns:retrievalReferenceNumber" />
          <s:element minOccurs="0" name="acquirerReferenceNumber" nillable="true" type="tns:acquirerReferenceNumber" />
          <s:element minOccurs="0" name="transmissionNumber" nillable="true" type="tns:transmissionNumber" />
          <s:element minOccurs="0" name="numberOfRecordsToBeLoaded" nillable="true" type="tns:numberOfRecordsToBeLoaded" />
          <s:element minOccurs="0" name="numberOfErrorsToBeLoaded" nillable="true" type="tns:numberOfErrorsToBeLoaded" />
          <s:element minOccurs="0" name="userId" nillable="true" type="tns:userId" />
          <s:element minOccurs="0" name="supervisorId" nillable="true" type="tns:supervisorId" />
          <s:element minOccurs="0" name="moreRecorIndicator" nillable="true" type="tns:moreRecorIndicator" />
          <s:element minOccurs="0" name="cutOffIndicator" nillable="true" type="tns:cutOffIndicator" />
          <s:element minOccurs="0" name="userData" nillable="true" type="tns:userData" />
        </s:sequence>
      </s:complexType>
      <s:simpleType name="destinationId">
        <s:restriction base="s:string">
          <s:whiteSpace value="preserve" />
          <s:maxLength value="10" />
        </s:restriction>
      </s:simpleType>
      <s:simpleType name="messageStatus">
        <s:restriction base="s:string">
          <s:whiteSpace value="preserve" />
          <s:maxLength value="8" />
        </s:restriction>
      </s:simpleType>
      <s:simpleType name="bankIdNumber">
        <s:restriction base="s:unsignedLong">
          <s:totalDigits value="11" />
        </s:restriction>
      </s:simpleType>
      <s:simpleType name="node">
        <s:restriction base="s:unsignedLong">
          <s:totalDigits value="2" />
        </s:restriction>
      </s:simpleType>
      <s:simpleType name="retrievalReferenceNumber">
        <s:restriction base="s:string">
          <s:whiteSpace value="preserve" />
          <s:maxLength value="22" />
        </s:restriction>
      </s:simpleType>
      <s:simpleType name="acquirerReferenceNumber">
        <s:restriction base="s:string">
          <s:whiteSpace value="preserve" />
          <s:maxLength value="12" />
        </s:restriction>
      </s:simpleType>
      <s:simpleType name="transmissionNumber">
        <s:restriction base="s:unsignedLong">
          <s:totalDigits value="4" />
        </s:restriction>
      </s:simpleType>
      <s:simpleType name="numberOfRecordsToBeLoaded">
        <s:restriction base="s:unsignedLong">
          <s:totalDigits value="4" />
        </s:restriction>
      </s:simpleType>
      <s:simpleType name="numberOfErrorsToBeLoaded">
        <s:restriction base="s:unsignedLong">
          <s:totalDigits value="4" />
        </s:restriction>
      </s:simpleType>
      <s:simpleType name="userId">
        <s:restriction base="s:string">
          <s:whiteSpace value="preserve" />
          <s:maxLength value="10" />
        </s:restriction>
      </s:simpleType>
      <s:simpleType name="supervisorId">
        <s:restriction base="s:string">
          <s:whiteSpace value="preserve" />
          <s:maxLength value="10" />
        </s:restriction>
      </s:simpleType>
      <s:simpleType name="moreRecorIndicator">
        <s:restriction base="s:string">
          <s:whiteSpace value="preserve" />
          <s:maxLength value="1" />
        </s:restriction>
      </s:simpleType>
      <s:simpleType name="cutOffIndicator">
        <s:restriction base="s:string">
          <s:whiteSpace value="preserve" />
          <s:maxLength value="1" />
        </s:restriction>
      </s:simpleType>
      <s:simpleType name="userData">
        <s:restriction base="s:string">
          <s:whiteSpace value="preserve" />
          <s:maxLength value="20" />
        </s:restriction>
      </s:simpleType>
      <s:complexType name="dataHeaderMbase">
        <s:sequence>
          <s:element minOccurs="0" name="referenceNumber" type="tns:referenceNumber" />
          <s:element minOccurs="0" name="rebidNumber" type="tns:rebidNumber" />
          <s:element minOccurs="0" name="endOfGroupIndicator" type="tns:endOfGroupIndicator" />
          <s:element minOccurs="0" name="blockMessageNumber" type="tns:blockMessageNumber" />
          <s:element minOccurs="0" name="bankNumber" type="tns:bankNumber" />
          <s:element minOccurs="0" name="branchNumber" type="tns:branchNumber" />
          <s:element minOccurs="0" name="reviewSupervisorID" type="tns:reviewSupervisorID" />
          <s:element minOccurs="0" name="transmitSupervisorID" type="tns:transmitSupervisorID" />
          <s:element minOccurs="0" name="hostSupervisorId" type="tns:hostSupervisorId" />
          <s:element minOccurs="0" name="actionCode" type="tns:actionCode" />
          <s:element minOccurs="0" name="transactionMode" type="tns:transactionMode" />
          <s:element minOccurs="0" name="noOfRecordsToRetrieve" type="tns:noOfRecordsToRetrieve" />
          <s:element minOccurs="0" name="moreRecordsIndicator" type="tns:moreRecordsIndicator" />
          <s:element minOccurs="0" name="searchMethod" type="tns:searchMethod" />
          <s:element minOccurs="0" name="dateInFromClientDdmmyyyy" type="s:date" />
          <s:element minOccurs="0" name="timeInFromClientHhmmss" type="s:time" />
          <s:element minOccurs="0" name="accountNo" type="tns:accountNo" />
          <s:element minOccurs="0" name="accountType" type="tns:accountType" />
          <s:element minOccurs="0" name="CIFno" type="tns:CIFno" />
        </s:sequence>
      </s:complexType>
      <s:simpleType name="referenceNumber">
        <s:restriction base="s:long">
          <s:totalDigits value="7" />
        </s:restriction>
      </s:simpleType>
      <s:simpleType name="rebidNumber">
        <s:restriction base="s:long">
          <s:totalDigits value="5" />
        </s:restriction>
      </s:simpleType>
      <s:simpleType name="endOfGroupIndicator">
        <s:restriction base="s:string">
          <s:whiteSpace value="preserve" />
          <s:maxLength value="4" />
        </s:restriction>
      </s:simpleType>
      <s:simpleType name="blockMessageNumber">
        <s:restriction base="s:long">
          <s:totalDigits value="3" />
        </s:restriction>
      </s:simpleType>
      <s:simpleType name="bankNumber">
        <s:restriction base="s:long">
          <s:totalDigits value="3" />
        </s:restriction>
      </s:simpleType>
      <s:simpleType name="branchNumber">
        <s:restriction base="s:long">
          <s:totalDigits value="5" />
        </s:restriction>
      </s:simpleType>
      <s:simpleType name="reviewSupervisorID">
        <s:restriction base="s:string">
          <s:whiteSpace value="preserve" />
          <s:maxLength value="10" />
        </s:restriction>
      </s:simpleType>
      <s:simpleType name="transmitSupervisorID">
        <s:restriction base="s:string">
          <s:whiteSpace value="preserve" />
          <s:maxLength value="10" />
        </s:restriction>
      </s:simpleType>
      <s:simpleType name="hostSupervisorId">
        <s:restriction base="s:string">
          <s:whiteSpace value="preserve" />
          <s:maxLength value="10" />
        </s:restriction>
      </s:simpleType>
      <s:simpleType name="actionCode">
        <s:restriction base="s:string">
          <s:whiteSpace value="preserve" />
          <s:maxLength value="1" />
        </s:restriction>
      </s:simpleType>
      <s:simpleType name="transactionMode">
        <s:restriction base="s:string">
          <s:whiteSpace value="preserve" />
          <s:maxLength value="1" />
        </s:restriction>
      </s:simpleType>
      <s:simpleType name="noOfRecordsToRetrieve">
        <s:restriction base="s:long">
          <s:totalDigits value="3" />
        </s:restriction>
      </s:simpleType>
      <s:simpleType name="moreRecordsIndicator">
        <s:restriction base="s:string">
          <s:whiteSpace value="preserve" />
          <s:maxLength value="1" />
        </s:restriction>
      </s:simpleType>
      <s:simpleType name="searchMethod">
        <s:restriction base="s:string">
          <s:whiteSpace value="preserve" />
          <s:maxLength value="1" />
        </s:restriction>
      </s:simpleType>
      <s:simpleType name="accountNo">
        <s:restriction base="s:long">
          <s:totalDigits value="19" />
        </s:restriction>
      </s:simpleType>
      <s:simpleType name="accountType">
        <s:restriction base="s:string">
          <s:whiteSpace value="preserve" />
          <s:maxLength value="1" />
        </s:restriction>
      </s:simpleType>
      <s:simpleType name="CIFno">
        <s:restriction base="s:long">
          <s:totalDigits value="19" />
        </s:restriction>
      </s:simpleType>
      <s:complexType name="body">
        <s:sequence>
          <s:element name="customerNumber" nillable="true" type="s:string" />
          <s:element name="financialYearDDMMYY" nillable="true" type="s:string" />
          <s:element name="currencyCode" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="CIFFinancialInformationResponseDoc">
        <s:sequence>
          <s:element name="CIFFinancialInformationResponse" nillable="true" type="tns:CIFFinancialInformationResponse" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="CIFFinancialInformationResponse">
        <s:sequence>
          <s:element minOccurs="0" name="soaHeader" nillable="true" type="tns:soaHeaderResponse" />
          <s:element minOccurs="0" name="securityHeader" nillable="true" type="tns:securityHeader" />
          <s:element minOccurs="0" name="dspHeader" nillable="true" type="tns:dspHeader" />
          <s:element minOccurs="0" name="dataHeader" nillable="true" type="tns:dataHeaderMbase" />
          <s:element name="body" nillable="true" type="tns:body2" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="soaHeaderResponse">
        <s:sequence>
          <s:element minOccurs="0" name="externalId" type="tns:externalId2" />
          <s:element name="tellerId" type="tns:tellerId2" />
          <s:element name="journalSequence" type="tns:journalSequence2" />
          <s:element name="transactionCode" type="tns:transactionCode2" />
          <s:element name="channelId" type="tns:channelId2" />
          <s:element name="timestamp" type="s:dateTime" />
          <s:element minOccurs="0" name="internalId" type="tns:internalId" />
          <s:element name="responseCode" type="s:int" />
          <s:element name="responseMessage" type="s:string" />
          <s:element name="responseTimestamp" type="s:dateTime" />
          <s:element minOccurs="0" name="errorNumber" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:simpleType name="externalId2">
        <s:restriction base="s:string">
          <s:whiteSpace value="preserve" />
          <s:pattern value="\d{1,19}" />
        </s:restriction>
      </s:simpleType>
      <s:simpleType name="tellerId2">
        <s:restriction base="s:long">
          <s:totalDigits value="7" />
        </s:restriction>
      </s:simpleType>
      <s:simpleType name="journalSequence2">
        <s:restriction base="s:long">
          <s:totalDigits value="7" />
        </s:restriction>
      </s:simpleType>
      <s:simpleType name="transactionCode2">
        <s:restriction base="s:string">
          <s:whiteSpace value="preserve" />
          <s:maxLength value="4" />
        </s:restriction>
      </s:simpleType>
      <s:simpleType name="channelId2">
        <s:restriction base="s:string">
          <s:whiteSpace value="preserve" />
          <s:maxLength value="10" />
        </s:restriction>
      </s:simpleType>
      <s:simpleType name="internalId">
        <s:restriction base="s:string">
          <s:whiteSpace value="preserve" />
          <s:pattern value="[0-9a-zA-Z+/=]{1,32}" />
          <s:maxLength value="32" />
        </s:restriction>
      </s:simpleType>
      <s:complexType name="body2">
        <s:sequence>
          <s:element name="jumlahBulan" nillable="true" type="s:string" />
          <s:element name="jumlahSatuan" nillable="true" type="s:string" />
          <s:element name="penjualanThdKredit" nillable="true" type="s:string" />
          <s:element name="lokasi" nillable="true" type="s:string" />
          <s:element name="kasDanBank" nillable="true" type="s:string" />
          <s:element name="suratBerharga" nillable="true" type="s:string" />
          <s:element name="piutang" nillable="true" type="s:string" />
          <s:element name="piutangTerafiliasi" nillable="true" type="s:string" />
          <s:element name="persediaan" nillable="true" type="s:string" />
          <s:element name="aktivaLancarLainnya" nillable="true" type="s:string" />
          <s:element name="biayaDibayarDimuka" nillable="true" type="s:string" />
          <s:element name="aktivaLancar" nillable="true" type="s:string" />
          <s:element name="aktivaTetapBersih" nillable="true" type="s:string" />
          <s:element name="investasi" nillable="true" type="s:string" />
          <s:element name="aktivaNonLancarBersihLainnya" nillable="true" type="s:string" />
          <s:element name="aktivaBersihTakBerwujud" nillable="true" type="s:string" />
          <s:element name="totalAktivaNonLancar" nillable="true" type="s:string" />
          <s:element name="totalAktiva" nillable="true" type="s:string" />
          <s:element name="hutangBankjgkPendek" nillable="true" type="s:string" />
          <s:element name="hutang" nillable="true" type="s:string" />
          <s:element name="hutangTerafiliasi" nillable="true" type="s:string" />
          <s:element name="biayaYgHarusDibayar" nillable="true" type="s:string" />
          <s:element name="pajakTerhutang" nillable="true" type="s:string" />
          <s:element name="hutangJkPanjangYgAkanJatuhTempo" nillable="true" type="s:string" />
          <s:element name="passivaLancar" nillable="true" type="s:string" />
          <s:element name="hutangJangkaPanjang" nillable="true" type="s:string" />
          <s:element name="hutangJKPjgLainnya" nillable="true" type="s:string" />
          <s:element name="kewajibanJkPanjang" nillable="true" type="s:string" />
          <s:element name="totalKewajiban" nillable="true" type="s:string" />
          <s:element name="sahamBiasa" nillable="true" type="s:string" />
          <s:element name="surplusDanCadangan" nillable="true" type="s:string" />
          <s:element name="labaDitahan" nillable="true" type="s:string" />
          <s:element name="totalModal" nillable="true" type="s:string" />
          <s:element name="totalPasiva" nillable="true" type="s:string" />
          <s:element name="penjualanNetto" nillable="true" type="s:string" />
          <s:element name="hargaPokokPenjualan" nillable="true" type="s:string" />
          <s:element name="labaKotor" nillable="true" type="s:string" />
          <s:element name="biayaPenjualanADMDanUmum" nillable="true" type="s:string" />
          <s:element name="labaOperasi" nillable="true" type="s:string" />
          <s:element name="penyusutanAktivaTetap" nillable="true" type="s:string" />
          <s:element name="amortisasiNonAktivaLancarLainnya" nillable="true" type="s:string" />
          <s:element name="amortisasiTakBerwujud" nillable="true" type="s:string" />
          <s:element name="pendapatanLainLainBebanNetto" nillable="true" type="s:string" />
          <s:element name="posPosLuarBiasa" nillable="true" type="s:string" />
          <s:element name="pdptLainSebelumMinusPjkDanBunga" nillable="true" type="s:string" />
          <s:element name="bebanBunga" nillable="true" type="s:string" />
          <s:element name="pdptSebelumPajak" nillable="true" type="s:string" />
          <s:element name="pjkYgTelahDiBayar" nillable="true" type="s:string" />
          <s:element name="pendapatanNettoBersih" nillable="true" type="s:string" />
          <s:element name="dariPenjualanA" nillable="true" type="s:string" />
          <s:element name="dariPenjualanB" nillable="true" type="s:string" />
          <s:element name="dariPenjualanC" nillable="true" type="s:string" />
          <s:element name="dariPenjualanD" nillable="true" type="s:string" />
          <s:element name="dariPenjualanE" nillable="true" type="s:string" />
          <s:element name="dariPenjualanF" nillable="true" type="s:string" />
          <s:element name="tingkatPertumbuhanPenjualan" nillable="true" type="s:string" />
          <s:element name="pendapatanNettoModalNettoROE" nillable="true" type="s:string" />
          <s:element name="pendapatanNettoAktivaROA" nillable="true" type="s:string" />
          <s:element name="bungaRataRataHutangBank" nillable="true" type="s:string" />
          <s:element name="penjualanRataRataAktiva" nillable="true" type="s:string" />
          <s:element name="currentRatio" nillable="true" type="s:string" />
          <s:element name="quickAssetRatio" nillable="true" type="s:string" />
          <s:element name="perputaranPiutang" nillable="true" type="s:string" />
          <s:element name="perputaranPersediaan" nillable="true" type="s:string" />
          <s:element name="perputaranHutang" nillable="true" type="s:string" />
          <s:element name="perputaranUsaha" nillable="true" type="s:string" />
          <s:element name="rasioHutangTerhadapModal" nillable="true" type="s:string" />
          <s:element name="leverageJangkaPanjang" nillable="true" type="s:string" />
          <s:element name="timeInterestEarned" nillable="true" type="s:string" />
          <s:element name="debtServiceCoverage" nillable="true" type="s:string" />
          <s:element name="salesItem" nillable="true" type="s:string" />
          <s:element name="totalCapacity" nillable="true" type="s:string" />
          <s:element name="equity" nillable="true" type="s:string" />
          <s:element name="capitalSubscribed" nillable="true" type="s:string" />
          <s:element name="marketShared" nillable="true" type="s:string" />
          <s:element name="capitalAdequacyRatio" nillable="true" type="s:string" />
          <s:element name="ldr" nillable="true" type="s:string" />
          <s:element name="employeesMgmt" nillable="true" type="s:string" />
          <s:element name="employeesLabor" nillable="true" type="s:string" />
          <s:element name="brandName1" nillable="true" type="s:string" />
          <s:element name="brandName2" nillable="true" type="s:string" />
          <s:element name="businessCondition1" nillable="true" type="s:string" />
          <s:element name="businessCondition2" nillable="true" type="s:string" />
          <s:element name="businessCondition3" nillable="true" type="s:string" />
          <s:element name="businessCondition4" nillable="true" type="s:string" />
          <s:element name="businessCondition5" nillable="true" type="s:string" />
          <s:element name="remarkLine1" nillable="true" type="s:string" />
          <s:element name="remarkLine2" nillable="true" type="s:string" />
          <s:element name="reinstatedDate" nillable="true" type="s:string" />
          <s:element name="reviewDate" nillable="true" type="s:string" />
          <s:element name="tanggalEntry" nillable="true" type="s:string" />
          <s:element name="auditedNotAudited" nillable="true" type="s:string" />
          <s:element name="nameAuditor1" nillable="true" type="s:string" />
          <s:element name="nameAuditor2" nillable="true" type="s:string" />
          <s:element name="pinjamanLuarNegeri" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </types>
  <message name="CIFFinancialInformationDetailLoan_PortType_CIFFinancialInformationResponseDoc">
    <part name="parameters" element="s0:CIFFinancialInformationResponseDoc" />
  </message>
  <message name="CIFFinancialInformationDetailLoan_PortType_CIFFinancialInformationRequestDoc">
    <part name="parameters" element="s0:CIFFinancialInformationRequestDoc" />
  </message>
  <portType name="CIFFinancialInformationDetailLoan_PortType">
    <operation name="CIFFinancialInformationDetail">
      <input message="s0:CIFFinancialInformationDetailLoan_PortType_CIFFinancialInformationRequestDoc" />
      <output message="s0:CIFFinancialInformationDetailLoan_PortType_CIFFinancialInformationResponseDoc" />
    </operation>
  </portType>
  <binding name="mandiri_emas_ws_common_CIFFinancialInformationDetailLoan_Binder" type="s0:CIFFinancialInformationDetailLoan_PortType">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
    <operation name="CIFFinancialInformationDetail">
      <soap:operation soapAction="mandiri_emas_ws_common_CIFFinancialInformationDetailLoan_Binder_CIFFinancialInformationDetail" style="document" />
      <input>
        <soap:body use="literal" parts="parameters" />
      </input>
      <output>
        <soap:body use="literal" parts="parameters" />
      </output>
    </operation>
  </binding>
  <service name="CIFFinancialInformationDetailLoan">
    <port name="mandiri_emas_ws_common_CIFFinancialInformationDetailLoan_Port" binding="s0:mandiri_emas_ws_common_CIFFinancialInformationDetailLoan_Binder">
      <soap:address location="http://mdrsoadev01:8888/ws/mandiri.emas.ws.common:CIFFinancialInformationDetailLoan/mandiri_emas_ws_common_CIFFinancialInformationDetailLoan_Port" />
    </port>
  </service>
</definitions>