Web References/CIFMandatoryMaintenanceLoan/CIFMandatoryMaintenanceLoan.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:s0="http://www.bankmandiri.co.id/mandiri/emas/ws/common/CIFMandatoryMaintenanceLoan" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" targetNamespace="http://www.bankmandiri.co.id/mandiri/emas/ws/common/CIFMandatoryMaintenanceLoan" name="CIFMandatoryMaintenanceLoan" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <s:schema xmlns:tns="http://www.bankmandiri.co.id/mandiri/emas/ws/common/CIFMandatoryMaintenanceLoan" targetNamespace="http://www.bankmandiri.co.id/mandiri/emas/ws/common/CIFMandatoryMaintenanceLoan">
      <s:element name="CIFMandatoryMaintenanceRequestDoc" type="tns:CIFMandatoryMaintenanceRequestDoc" />
      <s:element name="CIFMandatoryMaintenanceResponseDoc" type="tns:CIFMandatoryMaintenanceResponseDoc" />
      <s:complexType name="CIFMandatoryMaintenanceRequestDoc">
        <s:sequence>
          <s:element name="CIFMandatoryMaintenanceRequest" nillable="true" type="tns:CIFMandatoryMaintenanceRequest" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="CIFMandatoryMaintenanceRequest">
        <s:sequence>
          <s:element minOccurs="0" name="soaHeader" nillable="true" type="tns:soaHeaderRequest" />
          <s:element minOccurs="0" name="securityHeader" nillable="true" type="tns:securityHeader" />
          <s:element minOccurs="0" name="dspHeader" nillable="true" type="tns:dspHeader" />
          <s:element minOccurs="0" name="dataHeader" nillable="true" type="tns:dataHeaderMbase" />
          <s:element name="body" nillable="true" type="tns:body" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="soaHeaderRequest">
        <s:sequence>
          <s:element minOccurs="0" name="externalId" nillable="true" type="tns:externalId" />
          <s:element name="tellerId" type="tns:tellerId" />
          <s:element name="journalSequence" type="tns:journalSequence" />
          <s:element name="transactionCode" nillable="true" type="tns:transactionCode" />
          <s:element name="channelId" nillable="true" type="tns:channelId" />
          <s:element name="timestamp" nillable="true" type="s:dateTime" />
        </s:sequence>
      </s:complexType>
      <s:simpleType name="externalId">
        <s:restriction base="s:string">
          <s:whiteSpace value="preserve" />
          <s:pattern value="\d{1,19}" />
        </s:restriction>
      </s:simpleType>
      <s:simpleType name="tellerId">
        <s:restriction base="s:long">
          <s:totalDigits value="7" />
        </s:restriction>
      </s:simpleType>
      <s:simpleType name="journalSequence">
        <s:restriction base="s:long">
          <s:totalDigits value="7" />
        </s:restriction>
      </s:simpleType>
      <s:simpleType name="transactionCode">
        <s:restriction base="s:string">
          <s:whiteSpace value="preserve" />
          <s:maxLength value="4" />
        </s:restriction>
      </s:simpleType>
      <s:simpleType name="channelId">
        <s:restriction base="s:string">
          <s:whiteSpace value="preserve" />
          <s:maxLength value="10" />
        </s:restriction>
      </s:simpleType>
      <s:complexType name="securityHeader">
        <s:sequence>
          <s:element name="challengeType" type="s:string" />
          <s:element name="corporateId" type="s:string" />
          <s:element minOccurs="0" name="customerAdditionalId" nillable="true" type="s:string" />
          <s:element name="appliNo" type="s:string" />
          <s:element name="challenge1" type="s:string" />
          <s:element minOccurs="0" name="challenge2" nillable="true" type="s:string" />
          <s:element minOccurs="0" name="challenge3" nillable="true" type="s:string" />
          <s:element minOccurs="0" name="challenge4" nillable="true" type="s:string" />
          <s:element name="responseToken" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="dspHeader">
        <s:sequence>
          <s:element minOccurs="0" name="destinationId" nillable="true" type="tns:destinationId" />
          <s:element minOccurs="0" name="messageStatus" nillable="true" type="tns:messageStatus" />
          <s:element minOccurs="0" name="bankIdNumber" nillable="true" type="tns:bankIdNumber" />
          <s:element minOccurs="0" name="node" nillable="true" type="tns:node" />
          <s:element minOccurs="0" name="retrievalReferenceNumber" nillable="true" type="tns:retrievalReferenceNumber" />
          <s:element minOccurs="0" name="acquirerReferenceNumber" nillable="true" type="tns:acquirerReferenceNumber" />
          <s:element minOccurs="0" name="transmissionNumber" nillable="true" type="tns:transmissionNumber" />
          <s:element minOccurs="0" name="numberOfRecordsToBeLoaded" nillable="true" type="tns:numberOfRecordsToBeLoaded" />
          <s:element minOccurs="0" name="numberOfErrorsToBeLoaded" nillable="true" type="tns:numberOfErrorsToBeLoaded" />
          <s:element minOccurs="0" name="userId" nillable="true" type="tns:userId" />
          <s:element minOccurs="0" name="supervisorId" nillable="true" type="tns:supervisorId" />
          <s:element minOccurs="0" name="moreRecorIndicator" nillable="true" type="tns:moreRecorIndicator" />
          <s:element minOccurs="0" name="cutOffIndicator" nillable="true" type="tns:cutOffIndicator" />
          <s:element minOccurs="0" name="userData" nillable="true" type="tns:userData" />
        </s:sequence>
      </s:complexType>
      <s:simpleType name="destinationId">
        <s:restriction base="s:string">
          <s:whiteSpace value="preserve" />
          <s:maxLength value="10" />
        </s:restriction>
      </s:simpleType>
      <s:simpleType name="messageStatus">
        <s:restriction base="s:string">
          <s:whiteSpace value="preserve" />
          <s:maxLength value="8" />
        </s:restriction>
      </s:simpleType>
      <s:simpleType name="bankIdNumber">
        <s:restriction base="s:unsignedLong">
          <s:totalDigits value="11" />
        </s:restriction>
      </s:simpleType>
      <s:simpleType name="node">
        <s:restriction base="s:unsignedLong">
          <s:totalDigits value="2" />
        </s:restriction>
      </s:simpleType>
      <s:simpleType name="retrievalReferenceNumber">
        <s:restriction base="s:string">
          <s:whiteSpace value="preserve" />
          <s:maxLength value="22" />
        </s:restriction>
      </s:simpleType>
      <s:simpleType name="acquirerReferenceNumber">
        <s:restriction base="s:string">
          <s:whiteSpace value="preserve" />
          <s:maxLength value="12" />
        </s:restriction>
      </s:simpleType>
      <s:simpleType name="transmissionNumber">
        <s:restriction base="s:unsignedLong">
          <s:totalDigits value="4" />
        </s:restriction>
      </s:simpleType>
      <s:simpleType name="numberOfRecordsToBeLoaded">
        <s:restriction base="s:unsignedLong">
          <s:totalDigits value="4" />
        </s:restriction>
      </s:simpleType>
      <s:simpleType name="numberOfErrorsToBeLoaded">
        <s:restriction base="s:unsignedLong">
          <s:totalDigits value="4" />
        </s:restriction>
      </s:simpleType>
      <s:simpleType name="userId">
        <s:restriction base="s:string">
          <s:whiteSpace value="preserve" />
          <s:maxLength value="10" />
        </s:restriction>
      </s:simpleType>
      <s:simpleType name="supervisorId">
        <s:restriction base="s:string">
          <s:whiteSpace value="preserve" />
          <s:maxLength value="10" />
        </s:restriction>
      </s:simpleType>
      <s:simpleType name="moreRecorIndicator">
        <s:restriction base="s:string">
          <s:whiteSpace value="preserve" />
          <s:maxLength value="1" />
        </s:restriction>
      </s:simpleType>
      <s:simpleType name="cutOffIndicator">
        <s:restriction base="s:string">
          <s:whiteSpace value="preserve" />
          <s:maxLength value="1" />
        </s:restriction>
      </s:simpleType>
      <s:simpleType name="userData">
        <s:restriction base="s:string">
          <s:whiteSpace value="preserve" />
          <s:maxLength value="20" />
        </s:restriction>
      </s:simpleType>
      <s:complexType name="dataHeaderMbase">
        <s:sequence>
          <s:element minOccurs="0" name="referenceNumber" type="tns:referenceNumber" />
          <s:element minOccurs="0" name="rebidNumber" type="tns:rebidNumber" />
          <s:element minOccurs="0" name="endOfGroupIndicator" type="tns:endOfGroupIndicator" />
          <s:element minOccurs="0" name="blockMessageNumber" type="tns:blockMessageNumber" />
          <s:element minOccurs="0" name="bankNumber" type="tns:bankNumber" />
          <s:element minOccurs="0" name="branchNumber" type="tns:branchNumber" />
          <s:element minOccurs="0" name="reviewSupervisorID" type="tns:reviewSupervisorID" />
          <s:element minOccurs="0" name="transmitSupervisorID" type="tns:transmitSupervisorID" />
          <s:element minOccurs="0" name="hostSupervisorId" type="tns:hostSupervisorId" />
          <s:element minOccurs="0" name="actionCode" type="tns:actionCode" />
          <s:element minOccurs="0" name="transactionMode" type="tns:transactionMode" />
          <s:element minOccurs="0" name="noOfRecordsToRetrieve" type="tns:noOfRecordsToRetrieve" />
          <s:element minOccurs="0" name="moreRecordsIndicator" type="tns:moreRecordsIndicator" />
          <s:element minOccurs="0" name="searchMethod" type="tns:searchMethod" />
          <s:element minOccurs="0" name="dateInFromClientDdmmyyyy" type="s:date" />
          <s:element minOccurs="0" name="timeInFromClientHhmmss" type="s:time" />
          <s:element minOccurs="0" name="accountNo" type="tns:accountNo" />
          <s:element minOccurs="0" name="accountType" type="tns:accountType" />
          <s:element minOccurs="0" name="CIFno" type="tns:CIFno" />
        </s:sequence>
      </s:complexType>
      <s:simpleType name="referenceNumber">
        <s:restriction base="s:long">
          <s:totalDigits value="7" />
        </s:restriction>
      </s:simpleType>
      <s:simpleType name="rebidNumber">
        <s:restriction base="s:long">
          <s:totalDigits value="5" />
        </s:restriction>
      </s:simpleType>
      <s:simpleType name="endOfGroupIndicator">
        <s:restriction base="s:string">
          <s:whiteSpace value="preserve" />
          <s:maxLength value="4" />
        </s:restriction>
      </s:simpleType>
      <s:simpleType name="blockMessageNumber">
        <s:restriction base="s:long">
          <s:totalDigits value="3" />
        </s:restriction>
      </s:simpleType>
      <s:simpleType name="bankNumber">
        <s:restriction base="s:long">
          <s:totalDigits value="3" />
        </s:restriction>
      </s:simpleType>
      <s:simpleType name="branchNumber">
        <s:restriction base="s:long">
          <s:totalDigits value="5" />
        </s:restriction>
      </s:simpleType>
      <s:simpleType name="reviewSupervisorID">
        <s:restriction base="s:string">
          <s:whiteSpace value="preserve" />
          <s:maxLength value="10" />
        </s:restriction>
      </s:simpleType>
      <s:simpleType name="transmitSupervisorID">
        <s:restriction base="s:string">
          <s:whiteSpace value="preserve" />
          <s:maxLength value="10" />
        </s:restriction>
      </s:simpleType>
      <s:simpleType name="hostSupervisorId">
        <s:restriction base="s:string">
          <s:whiteSpace value="preserve" />
          <s:maxLength value="10" />
        </s:restriction>
      </s:simpleType>
      <s:simpleType name="actionCode">
        <s:restriction base="s:string">
          <s:whiteSpace value="preserve" />
          <s:maxLength value="1" />
        </s:restriction>
      </s:simpleType>
      <s:simpleType name="transactionMode">
        <s:restriction base="s:string">
          <s:whiteSpace value="preserve" />
          <s:maxLength value="1" />
        </s:restriction>
      </s:simpleType>
      <s:simpleType name="noOfRecordsToRetrieve">
        <s:restriction base="s:long">
          <s:totalDigits value="3" />
        </s:restriction>
      </s:simpleType>
      <s:simpleType name="moreRecordsIndicator">
        <s:restriction base="s:string">
          <s:whiteSpace value="preserve" />
          <s:maxLength value="1" />
        </s:restriction>
      </s:simpleType>
      <s:simpleType name="searchMethod">
        <s:restriction base="s:string">
          <s:whiteSpace value="preserve" />
          <s:maxLength value="1" />
        </s:restriction>
      </s:simpleType>
      <s:simpleType name="accountNo">
        <s:restriction base="s:long">
          <s:totalDigits value="19" />
        </s:restriction>
      </s:simpleType>
      <s:simpleType name="accountType">
        <s:restriction base="s:string">
          <s:whiteSpace value="preserve" />
          <s:maxLength value="1" />
        </s:restriction>
      </s:simpleType>
      <s:simpleType name="CIFno">
        <s:restriction base="s:long">
          <s:totalDigits value="19" />
        </s:restriction>
      </s:simpleType>
      <s:complexType name="body">
        <s:sequence>
          <s:element name="bankNumber" nillable="true" type="s:string" />
          <s:element name="branchNumber" nillable="true" type="s:string" />
          <s:element name="customerNumber" nillable="true" type="s:string" />
          <s:element name="titleBeforName" nillable="true" type="s:string" />
          <s:element name="customerName" nillable="true" type="s:string" />
          <s:element name="titleAfterName" nillable="true" type="s:string" />
          <s:element name="dobDDMMYYYY" nillable="true" type="s:string" />
          <s:element name="birthIncorporationPlace" nillable="true" type="s:string" />
          <s:element name="customerTypeCode" nillable="true" type="s:string" />
          <s:element name="idtypeCode" nillable="true" type="s:string" />
          <s:element name="idNumber" nillable="true" type="s:string" />
          <s:element name="businessUnitCode" nillable="true" type="s:string" />
          <s:element name="addressLine1" nillable="true" type="s:string" />
          <s:element name="addressLine2" nillable="true" type="s:string" />
          <s:element name="addressLine3" nillable="true" type="s:string" />
          <s:element name="addressLine4" nillable="true" type="s:string" />
          <s:element name="postalCode" nillable="true" type="s:string" />
          <s:element name="motherMaidenName" nillable="true" type="s:string" />
          <s:element name="occupationCode" nillable="true" type="s:string" />
          <s:element name="amount1" nillable="true" type="s:string" />
          <s:element name="amount2" nillable="true" type="s:string" />
          <s:element name="telephone" nillable="true" type="s:string" />
          <s:element name="fax" nillable="true" type="s:string" />
          <s:element name="handphone" nillable="true" type="s:string" />
          <s:element name="additionalIDType" nillable="true" type="s:string" />
          <s:element name="additionalID" nillable="true" type="s:string" />
          <s:element name="amount" nillable="true" type="s:string" />
          <s:element name="idIssuePlace" nillable="true" type="s:string" />
          <s:element name="additionalAddressLine1" nillable="true" type="s:string" />
          <s:element name="additionalAddressLine2" nillable="true" type="s:string" />
          <s:element name="additionalAddressLine3" nillable="true" type="s:string" />
          <s:element name="additionalAddressLine4" nillable="true" type="s:string" />
          <s:element name="genderCode" nillable="true" type="s:string" />
          <s:element name="codeField5" nillable="true" type="s:string" />
          <s:element name="codeField1" nillable="true" type="s:string" />
          <s:element name="currencyCode1" nillable="true" type="s:string" />
          <s:element name="codeField5_C2" nillable="true" type="s:string" />
          <s:element name="codeField1_T2" nillable="true" type="s:string" />
          <s:element name="currencyCode2" nillable="true" type="s:string" />
          <s:element name="codeField_C3" nillable="true" type="s:string" />
          <s:element name="codeField_T3" nillable="true" type="s:string" />
          <s:element name="currencyCode3" nillable="true" type="s:string" />
          <s:element name="countryOfCitizenship" nillable="true" type="s:string" />
          <s:element name="uicUserDefined" nillable="true" type="s:string" />
          <s:element name="employerName" nillable="true" type="s:string" />
          <s:element name="employementStartDate" nillable="true" type="s:string" />
          <s:element name="employementEndDate" nillable="true" type="s:string" />
          <s:element name="employerIndustryCode" nillable="true" type="s:string" />
          <s:element name="jobDesignationCode" nillable="true" type="s:string" />
          <s:element name="employeeDirectSuperiorName1" nillable="true" type="s:string" />
          <s:element name="employeeDirectSuperiorName2" nillable="true" type="s:string" />
          <s:element name="currentSalary" nillable="true" type="s:string" />
          <s:element name="previousSalary" nillable="true" type="s:string" />
          <s:element name="currencyCode" nillable="true" type="s:string" />
          <s:element name="jenisDebitur" nillable="true" type="s:string" />
          <s:element name="prefixName" nillable="true" type="s:string" />
          <s:element name="custPreviousName1" nillable="true" type="s:string" />
          <s:element name="custPreviousName2" nillable="true" type="s:string" />
          <s:element name="memberOfKoperasi" nillable="true" type="s:string" />
          <s:element name="code1" nillable="true" type="s:string" />
          <s:element name="pemilikDebitur" nillable="true" type="s:string" />
          <s:element name="lokasiI" nillable="true" type="s:string" />
          <s:element name="hubunganDenganBank" nillable="true" type="s:string" />
          <s:element name="hubunganKeluarga" nillable="true" type="s:string" />
          <s:element name="wilayahTLahir" nillable="true" type="s:string" />
          <s:element name="ratingDate" nillable="true" type="s:string" />
          <s:element name="ratingSource" nillable="true" type="s:string" />
          <s:element name="ratingCode" nillable="true" type="s:string" />
          <s:element name="informationDate" nillable="true" type="s:string" />
          <s:element name="reviewDate" nillable="true" type="s:string" />
          <s:element name="remarkLine1" nillable="true" type="s:string" />
          <s:element name="remarkLine2" nillable="true" type="s:string" />
          <s:element name="remarkLine3" nillable="true" type="s:string" />
          <s:element name="remarkLine4" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="CIFMandatoryMaintenanceResponseDoc">
        <s:sequence>
          <s:element name="CIFMandatoryMaintenanceResponse" nillable="true" type="tns:CIFMandatoryMaintenanceResponse" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="CIFMandatoryMaintenanceResponse">
        <s:sequence>
          <s:element minOccurs="0" name="soaHeader" nillable="true" type="tns:soaHeaderResponse" />
          <s:element minOccurs="0" name="securityHeader" nillable="true" type="tns:securityHeader" />
          <s:element minOccurs="0" name="dspHeader" nillable="true" type="tns:dspHeader" />
          <s:element minOccurs="0" name="dataHeader" nillable="true" type="tns:dataHeaderMbase" />
          <s:element name="body" nillable="true" type="tns:body2" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="soaHeaderResponse">
        <s:sequence>
          <s:element minOccurs="0" name="externalId" type="tns:externalId2" />
          <s:element name="tellerId" type="tns:tellerId2" />
          <s:element name="journalSequence" type="tns:journalSequence2" />
          <s:element name="transactionCode" type="tns:transactionCode2" />
          <s:element name="channelId" type="tns:channelId2" />
          <s:element name="timestamp" type="s:dateTime" />
          <s:element minOccurs="0" name="internalId" type="tns:internalId" />
          <s:element name="responseCode" type="s:int" />
          <s:element name="responseMessage" type="s:string" />
          <s:element name="responseTimestamp" type="s:dateTime" />
          <s:element minOccurs="0" name="errorNumber" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:simpleType name="externalId2">
        <s:restriction base="s:string">
          <s:whiteSpace value="preserve" />
          <s:pattern value="\d{1,19}" />
        </s:restriction>
      </s:simpleType>
      <s:simpleType name="tellerId2">
        <s:restriction base="s:long">
          <s:totalDigits value="7" />
        </s:restriction>
      </s:simpleType>
      <s:simpleType name="journalSequence2">
        <s:restriction base="s:long">
          <s:totalDigits value="7" />
        </s:restriction>
      </s:simpleType>
      <s:simpleType name="transactionCode2">
        <s:restriction base="s:string">
          <s:whiteSpace value="preserve" />
          <s:maxLength value="4" />
        </s:restriction>
      </s:simpleType>
      <s:simpleType name="channelId2">
        <s:restriction base="s:string">
          <s:whiteSpace value="preserve" />
          <s:maxLength value="10" />
        </s:restriction>
      </s:simpleType>
      <s:simpleType name="internalId">
        <s:restriction base="s:string">
          <s:whiteSpace value="preserve" />
          <s:pattern value="[0-9a-zA-Z+/=]{1,32}" />
          <s:maxLength value="32" />
        </s:restriction>
      </s:simpleType>
      <s:complexType name="body2">
        <s:sequence>
          <s:element name="bankNumber" nillable="true" type="s:string" />
          <s:element name="branchNumber" nillable="true" type="s:string" />
          <s:element name="customerNumber" nillable="true" type="s:string" />
          <s:element name="titleBeforName" nillable="true" type="s:string" />
          <s:element name="customerName" nillable="true" type="s:string" />
          <s:element name="titleAfterName" nillable="true" type="s:string" />
          <s:element name="dobDDMMYYYY" nillable="true" type="s:string" />
          <s:element name="birthIncorporationPlace" nillable="true" type="s:string" />
          <s:element name="customerTypeCode" nillable="true" type="s:string" />
          <s:element name="idtypeCode" nillable="true" type="s:string" />
          <s:element name="idNumber" nillable="true" type="s:string" />
          <s:element name="businessUnitCode" nillable="true" type="s:string" />
          <s:element name="addressLine1" nillable="true" type="s:string" />
          <s:element name="addressLine2" nillable="true" type="s:string" />
          <s:element name="addressLine3" nillable="true" type="s:string" />
          <s:element name="addressLine4" nillable="true" type="s:string" />
          <s:element name="postalCode" nillable="true" type="s:string" />
          <s:element name="motherMaidenName" nillable="true" type="s:string" />
          <s:element name="occupationCode" nillable="true" type="s:string" />
          <s:element name="amount1" nillable="true" type="s:string" />
          <s:element name="amount2" nillable="true" type="s:string" />
          <s:element name="telephone" nillable="true" type="s:string" />
          <s:element name="fax" nillable="true" type="s:string" />
          <s:element name="handphone" nillable="true" type="s:string" />
          <s:element name="additionalIDType" nillable="true" type="s:string" />
          <s:element name="additionalID" nillable="true" type="s:string" />
          <s:element name="amount" nillable="true" type="s:string" />
          <s:element name="idIssuePlace" nillable="true" type="s:string" />
          <s:element name="additionalAddressLine1" nillable="true" type="s:string" />
          <s:element name="additionalAddressLine2" nillable="true" type="s:string" />
          <s:element name="additionalAddressLine3" nillable="true" type="s:string" />
          <s:element name="additionalAddressLine4" nillable="true" type="s:string" />
          <s:element name="genderCode" nillable="true" type="s:string" />
          <s:element name="codeField5" nillable="true" type="s:string" />
          <s:element name="codeField1" nillable="true" type="s:string" />
          <s:element name="currencyCode1" nillable="true" type="s:string" />
          <s:element name="codeField5_C2" nillable="true" type="s:string" />
          <s:element name="codeField1_T2" nillable="true" type="s:string" />
          <s:element name="currencyCode2" nillable="true" type="s:string" />
          <s:element name="codeField_C3" nillable="true" type="s:string" />
          <s:element name="codeField_T3" nillable="true" type="s:string" />
          <s:element name="currencyCode3" nillable="true" type="s:string" />
          <s:element name="countryOfCitizenship" nillable="true" type="s:string" />
          <s:element name="uicUserDefined" nillable="true" type="s:string" />
          <s:element name="employerName" nillable="true" type="s:string" />
          <s:element name="employementStartDate" nillable="true" type="s:string" />
          <s:element name="employementEndDate" nillable="true" type="s:string" />
          <s:element name="employerIndustryCode" nillable="true" type="s:string" />
          <s:element name="jobDesignationCode" nillable="true" type="s:string" />
          <s:element name="employeeDirectSuperiorName1" nillable="true" type="s:string" />
          <s:element name="employeeDirectSuperiorName2" nillable="true" type="s:string" />
          <s:element name="currentSalary" nillable="true" type="s:string" />
          <s:element name="previousSalary" nillable="true" type="s:string" />
          <s:element name="currencyCode" nillable="true" type="s:string" />
          <s:element name="jenisDebitur" nillable="true" type="s:string" />
          <s:element name="prefixName" nillable="true" type="s:string" />
          <s:element name="custPreviousName1" nillable="true" type="s:string" />
          <s:element name="custPreviousName2" nillable="true" type="s:string" />
          <s:element name="memberOfKoperasi" nillable="true" type="s:string" />
          <s:element name="code1" nillable="true" type="s:string" />
          <s:element name="pemilikDebitur" nillable="true" type="s:string" />
          <s:element name="lokasiI" nillable="true" type="s:string" />
          <s:element name="hubunganDenganBank" nillable="true" type="s:string" />
          <s:element name="hubunganKeluarga" nillable="true" type="s:string" />
          <s:element name="wilayahTLahir" nillable="true" type="s:string" />
          <s:element name="ratingDate" nillable="true" type="s:string" />
          <s:element name="ratingSource" nillable="true" type="s:string" />
          <s:element name="ratingCode" nillable="true" type="s:string" />
          <s:element name="informationDate" nillable="true" type="s:string" />
          <s:element name="reviewDate" nillable="true" type="s:string" />
          <s:element name="remarkLine1" nillable="true" type="s:string" />
          <s:element name="remarkLine2" nillable="true" type="s:string" />
          <s:element name="remarkLine3" nillable="true" type="s:string" />
          <s:element name="remarkLine4" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </types>
  <message name="CIFMandatoryMaintenanceLoan_PortType_CIFMandatoryMaintenanceResponseDoc">
    <part name="parameters" element="s0:CIFMandatoryMaintenanceResponseDoc" />
  </message>
  <message name="CIFMandatoryMaintenanceLoan_PortType_CIFMandatoryMaintenanceRequestDoc">
    <part name="parameters" element="s0:CIFMandatoryMaintenanceRequestDoc" />
  </message>
  <portType name="CIFMandatoryMaintenanceLoan_PortType">
    <operation name="CIFMandatoryMaintenance">
      <input message="s0:CIFMandatoryMaintenanceLoan_PortType_CIFMandatoryMaintenanceRequestDoc" />
      <output message="s0:CIFMandatoryMaintenanceLoan_PortType_CIFMandatoryMaintenanceResponseDoc" />
    </operation>
  </portType>
  <binding name="mandiri_emas_ws_common_CIFMandatoryMaintenanceLoan_Binder" type="s0:CIFMandatoryMaintenanceLoan_PortType">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
    <operation name="CIFMandatoryMaintenance">
      <soap:operation soapAction="mandiri_emas_ws_common_CIFMandatoryMaintenanceLoan_Binder_CIFMandatoryMaintenance" style="document" />
      <input>
        <soap:body use="literal" parts="parameters" />
      </input>
      <output>
        <soap:body use="literal" parts="parameters" />
      </output>
    </operation>
  </binding>
  <service name="CIFMandatoryMaintenanceLoan">
    <port name="mandiri_emas_ws_common_CIFMandatoryMaintenanceLoan_Port" binding="s0:mandiri_emas_ws_common_CIFMandatoryMaintenanceLoan_Binder">
      <soap:address location="http://mdrsoadev01:8888/ws/mandiri.emas.ws.common:CIFMandatoryMaintenanceLoan/mandiri_emas_ws_common_CIFMandatoryMaintenanceLoan_Port" />
    </port>
  </service>
</definitions>