Web References/CIFQuickCreationLoan/CIFQuickCreationLoan.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:s0="http://www.bankmandiri.co.id/mandiri/emas/ws/common/CIFQuickCreationLoan" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" targetNamespace="http://www.bankmandiri.co.id/mandiri/emas/ws/common/CIFQuickCreationLoan" name="CIFQuickCreationLoan" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <s:schema xmlns:tns="http://www.bankmandiri.co.id/mandiri/emas/ws/common/CIFQuickCreationLoan" targetNamespace="http://www.bankmandiri.co.id/mandiri/emas/ws/common/CIFQuickCreationLoan">
      <s:element name="CIFQuickCreationRequestDoc" type="tns:CIFQuickCreationRequestDoc" />
      <s:element name="CIFQuickCreationResponseDoc" type="tns:CIFQuickCreationResponseDoc" />
      <s:complexType name="CIFQuickCreationRequestDoc">
        <s:sequence>
          <s:element name="CIFQuickCreationRequest" nillable="true" type="tns:CIFQuickCreationRequest" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="CIFQuickCreationRequest">
        <s:sequence>
          <s:element minOccurs="0" name="soaHeader" nillable="true" type="tns:soaHeaderRequest" />
          <s:element minOccurs="0" name="securityHeader" nillable="true" type="tns:securityHeader" />
          <s:element minOccurs="0" name="dspHeader" nillable="true" type="tns:dspHeader" />
          <s:element minOccurs="0" name="dataHeader" nillable="true" type="tns:dataHeaderMbase" />
          <s:element name="body" nillable="true" type="tns:body" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="soaHeaderRequest">
        <s:sequence>
          <s:element minOccurs="0" name="externalId" nillable="true" type="tns:externalId" />
          <s:element name="tellerId" type="tns:tellerId" />
          <s:element name="journalSequence" type="tns:journalSequence" />
          <s:element name="transactionCode" nillable="true" type="tns:transactionCode" />
          <s:element name="channelId" nillable="true" type="tns:channelId" />
          <s:element name="timestamp" nillable="true" type="s:dateTime" />
        </s:sequence>
      </s:complexType>
      <s:simpleType name="externalId">
        <s:restriction base="s:string">
          <s:whiteSpace value="preserve" />
          <s:pattern value="\d{1,19}" />
        </s:restriction>
      </s:simpleType>
      <s:simpleType name="tellerId">
        <s:restriction base="s:long">
          <s:totalDigits value="7" />
        </s:restriction>
      </s:simpleType>
      <s:simpleType name="journalSequence">
        <s:restriction base="s:long">
          <s:totalDigits value="7" />
        </s:restriction>
      </s:simpleType>
      <s:simpleType name="transactionCode">
        <s:restriction base="s:string">
          <s:whiteSpace value="preserve" />
          <s:maxLength value="4" />
        </s:restriction>
      </s:simpleType>
      <s:simpleType name="channelId">
        <s:restriction base="s:string">
          <s:whiteSpace value="preserve" />
          <s:maxLength value="10" />
        </s:restriction>
      </s:simpleType>
      <s:complexType name="securityHeader">
        <s:sequence>
          <s:element name="challengeType" type="s:string" />
          <s:element name="corporateId" type="s:string" />
          <s:element minOccurs="0" name="customerAdditionalId" nillable="true" type="s:string" />
          <s:element name="appliNo" type="s:string" />
          <s:element name="challenge1" type="s:string" />
          <s:element minOccurs="0" name="challenge2" nillable="true" type="s:string" />
          <s:element minOccurs="0" name="challenge3" nillable="true" type="s:string" />
          <s:element minOccurs="0" name="challenge4" nillable="true" type="s:string" />
          <s:element name="responseToken" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="dspHeader">
        <s:sequence>
          <s:element minOccurs="0" name="destinationId" nillable="true" type="tns:destinationId" />
          <s:element minOccurs="0" name="messageStatus" nillable="true" type="tns:messageStatus" />
          <s:element minOccurs="0" name="bankIdNumber" nillable="true" type="tns:bankIdNumber" />
          <s:element minOccurs="0" name="node" nillable="true" type="tns:node" />
          <s:element minOccurs="0" name="retrievalReferenceNumber" nillable="true" type="tns:retrievalReferenceNumber" />
          <s:element minOccurs="0" name="acquirerReferenceNumber" nillable="true" type="tns:acquirerReferenceNumber" />
          <s:element minOccurs="0" name="transmissionNumber" nillable="true" type="tns:transmissionNumber" />
          <s:element minOccurs="0" name="numberOfRecordsToBeLoaded" nillable="true" type="tns:numberOfRecordsToBeLoaded" />
          <s:element minOccurs="0" name="numberOfErrorsToBeLoaded" nillable="true" type="tns:numberOfErrorsToBeLoaded" />
          <s:element minOccurs="0" name="userId" nillable="true" type="tns:userId" />
          <s:element minOccurs="0" name="supervisorId" nillable="true" type="tns:supervisorId" />
          <s:element minOccurs="0" name="moreRecorIndicator" nillable="true" type="tns:moreRecorIndicator" />
          <s:element minOccurs="0" name="cutOffIndicator" nillable="true" type="tns:cutOffIndicator" />
          <s:element minOccurs="0" name="userData" nillable="true" type="tns:userData" />
        </s:sequence>
      </s:complexType>
      <s:simpleType name="destinationId">
        <s:restriction base="s:string">
          <s:whiteSpace value="preserve" />
          <s:maxLength value="10" />
        </s:restriction>
      </s:simpleType>
      <s:simpleType name="messageStatus">
        <s:restriction base="s:string">
          <s:whiteSpace value="preserve" />
          <s:maxLength value="8" />
        </s:restriction>
      </s:simpleType>
      <s:simpleType name="bankIdNumber">
        <s:restriction base="s:unsignedLong">
          <s:totalDigits value="11" />
        </s:restriction>
      </s:simpleType>
      <s:simpleType name="node">
        <s:restriction base="s:unsignedLong">
          <s:totalDigits value="2" />
        </s:restriction>
      </s:simpleType>
      <s:simpleType name="retrievalReferenceNumber">
        <s:restriction base="s:string">
          <s:whiteSpace value="preserve" />
          <s:maxLength value="22" />
        </s:restriction>
      </s:simpleType>
      <s:simpleType name="acquirerReferenceNumber">
        <s:restriction base="s:string">
          <s:whiteSpace value="preserve" />
          <s:maxLength value="12" />
        </s:restriction>
      </s:simpleType>
      <s:simpleType name="transmissionNumber">
        <s:restriction base="s:unsignedLong">
          <s:totalDigits value="4" />
        </s:restriction>
      </s:simpleType>
      <s:simpleType name="numberOfRecordsToBeLoaded">
        <s:restriction base="s:unsignedLong">
          <s:totalDigits value="4" />
        </s:restriction>
      </s:simpleType>
      <s:simpleType name="numberOfErrorsToBeLoaded">
        <s:restriction base="s:unsignedLong">
          <s:totalDigits value="4" />
        </s:restriction>
      </s:simpleType>
      <s:simpleType name="userId">
        <s:restriction base="s:string">
          <s:whiteSpace value="preserve" />
          <s:maxLength value="10" />
        </s:restriction>
      </s:simpleType>
      <s:simpleType name="supervisorId">
        <s:restriction base="s:string">
          <s:whiteSpace value="preserve" />
          <s:maxLength value="10" />
        </s:restriction>
      </s:simpleType>
      <s:simpleType name="moreRecorIndicator">
        <s:restriction base="s:string">
          <s:whiteSpace value="preserve" />
          <s:maxLength value="1" />
        </s:restriction>
      </s:simpleType>
      <s:simpleType name="cutOffIndicator">
        <s:restriction base="s:string">
          <s:whiteSpace value="preserve" />
          <s:maxLength value="1" />
        </s:restriction>
      </s:simpleType>
      <s:simpleType name="userData">
        <s:restriction base="s:string">
          <s:whiteSpace value="preserve" />
          <s:maxLength value="20" />
        </s:restriction>
      </s:simpleType>
      <s:complexType name="dataHeaderMbase">
        <s:sequence>
          <s:element minOccurs="0" name="referenceNumber" type="tns:referenceNumber" />
          <s:element minOccurs="0" name="rebidNumber" type="tns:rebidNumber" />
          <s:element minOccurs="0" name="endOfGroupIndicator" type="tns:endOfGroupIndicator" />
          <s:element minOccurs="0" name="blockMessageNumber" type="tns:blockMessageNumber" />
          <s:element minOccurs="0" name="bankNumber" type="tns:bankNumber" />
          <s:element minOccurs="0" name="branchNumber" type="tns:branchNumber" />
          <s:element minOccurs="0" name="reviewSupervisorID" type="tns:reviewSupervisorID" />
          <s:element minOccurs="0" name="transmitSupervisorID" type="tns:transmitSupervisorID" />
          <s:element minOccurs="0" name="hostSupervisorId" type="tns:hostSupervisorId" />
          <s:element minOccurs="0" name="actionCode" type="tns:actionCode" />
          <s:element minOccurs="0" name="transactionMode" type="tns:transactionMode" />
          <s:element minOccurs="0" name="noOfRecordsToRetrieve" type="tns:noOfRecordsToRetrieve" />
          <s:element minOccurs="0" name="moreRecordsIndicator" type="tns:moreRecordsIndicator" />
          <s:element minOccurs="0" name="searchMethod" type="tns:searchMethod" />
          <s:element minOccurs="0" name="dateInFromClientDdmmyyyy" type="s:date" />
          <s:element minOccurs="0" name="timeInFromClientHhmmss" type="s:time" />
          <s:element minOccurs="0" name="accountNo" type="tns:accountNo" />
          <s:element minOccurs="0" name="accountType" type="tns:accountType" />
          <s:element minOccurs="0" name="CIFno" type="tns:CIFno" />
        </s:sequence>
      </s:complexType>
      <s:simpleType name="referenceNumber">
        <s:restriction base="s:long">
          <s:totalDigits value="7" />
        </s:restriction>
      </s:simpleType>
      <s:simpleType name="rebidNumber">
        <s:restriction base="s:long">
          <s:totalDigits value="5" />
        </s:restriction>
      </s:simpleType>
      <s:simpleType name="endOfGroupIndicator">
        <s:restriction base="s:string">
          <s:whiteSpace value="preserve" />
          <s:maxLength value="4" />
        </s:restriction>
      </s:simpleType>
      <s:simpleType name="blockMessageNumber">
        <s:restriction base="s:long">
          <s:totalDigits value="3" />
        </s:restriction>
      </s:simpleType>
      <s:simpleType name="bankNumber">
        <s:restriction base="s:long">
          <s:totalDigits value="3" />
        </s:restriction>
      </s:simpleType>
      <s:simpleType name="branchNumber">
        <s:restriction base="s:long">
          <s:totalDigits value="5" />
        </s:restriction>
      </s:simpleType>
      <s:simpleType name="reviewSupervisorID">
        <s:restriction base="s:string">
          <s:whiteSpace value="preserve" />
          <s:maxLength value="10" />
        </s:restriction>
      </s:simpleType>
      <s:simpleType name="transmitSupervisorID">
        <s:restriction base="s:string">
          <s:whiteSpace value="preserve" />
          <s:maxLength value="10" />
        </s:restriction>
      </s:simpleType>
      <s:simpleType name="hostSupervisorId">
        <s:restriction base="s:string">
          <s:whiteSpace value="preserve" />
          <s:maxLength value="10" />
        </s:restriction>
      </s:simpleType>
      <s:simpleType name="actionCode">
        <s:restriction base="s:string">
          <s:whiteSpace value="preserve" />
          <s:maxLength value="1" />
        </s:restriction>
      </s:simpleType>
      <s:simpleType name="transactionMode">
        <s:restriction base="s:string">
          <s:whiteSpace value="preserve" />
          <s:maxLength value="1" />
        </s:restriction>
      </s:simpleType>
      <s:simpleType name="noOfRecordsToRetrieve">
        <s:restriction base="s:long">
          <s:totalDigits value="3" />
        </s:restriction>
      </s:simpleType>
      <s:simpleType name="moreRecordsIndicator">
        <s:restriction base="s:string">
          <s:whiteSpace value="preserve" />
          <s:maxLength value="1" />
        </s:restriction>
      </s:simpleType>
      <s:simpleType name="searchMethod">
        <s:restriction base="s:string">
          <s:whiteSpace value="preserve" />
          <s:maxLength value="1" />
        </s:restriction>
      </s:simpleType>
      <s:simpleType name="accountNo">
        <s:restriction base="s:long">
          <s:totalDigits value="19" />
        </s:restriction>
      </s:simpleType>
      <s:simpleType name="accountType">
        <s:restriction base="s:string">
          <s:whiteSpace value="preserve" />
          <s:maxLength value="1" />
        </s:restriction>
      </s:simpleType>
      <s:simpleType name="CIFno">
        <s:restriction base="s:long">
          <s:totalDigits value="19" />
        </s:restriction>
      </s:simpleType>
      <s:complexType name="body">
        <s:sequence>
          <s:element name="customerName1" nillable="true" type="s:string" />
          <s:element name="customerName1A" nillable="true" type="s:string" />
          <s:element name="titleBeforeName" nillable="true" type="s:string" />
          <s:element name="titleAfterName" nillable="true" type="s:string" />
          <s:element name="eur" nillable="true" type="s:string" />
          <s:element name="bankNumber" nillable="true" type="s:string" />
          <s:element name="branchNumber" nillable="true" type="s:string" />
          <s:element name="shortNumber" nillable="true" type="s:string" />
          <s:element name="residentCode" nillable="true" type="s:string" />
          <s:element name="state" nillable="true" type="s:string" />
          <s:element name="county" nillable="true" type="s:string" />
          <s:element name="country" nillable="true" type="s:string" />
          <s:element name="countryOfCitizenship" nillable="true" type="s:string" />
          <s:element name="countryOfHeritage" nillable="true" type="s:string" />
          <s:element name="dmyG6" nillable="true" type="s:string" />
          <s:element name="idNumber" nillable="true" type="s:string" />
          <s:element name="idTypeCode" nillable="true" type="s:string" />
          <s:element name="dmyX6" nillable="true" type="s:string" />
          <s:element name="customerTypeCode" nillable="true" type="s:string" />
          <s:element name="subClass" nillable="true" type="s:string" />
          <s:element name="fedWHCode" nillable="true" type="s:string" />
          <s:element name="motherMaidenName" nillable="true" type="s:string" />
          <s:element name="addressLine1" nillable="true" type="s:string" />
          <s:element name="addressLine2" nillable="true" type="s:string" />
          <s:element name="addressLine3" nillable="true" type="s:string" />
          <s:element name="addressLine4" nillable="true" type="s:string" />
          <s:element name="postalCode" nillable="true" type="s:string" />
          <s:element name="electronicAddressDescription1" nillable="true" type="s:string" />
          <s:element name="electronicAddressDescription2" nillable="true" type="s:string" />
          <s:element name="customerNumber" nillable="true" type="s:string" />
          <s:element name="phoneticSearchKey" nillable="true" type="s:string" />
          <s:element name="addressSeqNo" nillable="true" type="s:string" />
          <s:element name="addressSequenceNo1" nillable="true" type="s:string" />
          <s:element name="userID" nillable="true" type="s:string" />
          <s:element name="jobName" nillable="true" type="s:string" />
          <s:element name="foreignAddress" nillable="true" type="s:string" />
          <s:element name="sexCode" nillable="true" type="s:string" />
          <s:element name="blacklistedFlag" nillable="true" type="s:string" />
          <s:element name="identifier" nillable="true" type="s:string" />
          <s:element name="retention" nillable="true" type="s:string" />
          <s:element name="aliasNameFlag" nillable="true" type="s:string" />
          <s:element name="shortNameSequence" nillable="true" type="s:string" />
          <s:element name="inquiryCode" nillable="true" type="s:string" />
          <s:element name="officerCode" nillable="true" type="s:string" />
          <s:element name="insiderCode" nillable="true" type="s:string" />
          <s:element name="vipCustomerCode" nillable="true" type="s:string" />
          <s:element name="deceasedCustomerFlag" nillable="true" type="s:string" />
          <s:element name="holdMailCode" nillable="true" type="s:string" />
          <s:element name="profitAnalysis" nillable="true" type="s:string" />
          <s:element name="sicUserDefined1" nillable="true" type="s:string" />
          <s:element name="sicUserDefined2" nillable="true" type="s:string" />
          <s:element name="sicUserDefined3" nillable="true" type="s:string" />
          <s:element name="sicUserDefined4" nillable="true" type="s:string" />
          <s:element name="sicUserDefined5" nillable="true" type="s:string" />
          <s:element name="sicUserDefined6" nillable="true" type="s:string" />
          <s:element name="sicUserDefined7" nillable="true" type="s:string" />
          <s:element name="sicUserDefined8" nillable="true" type="s:string" />
          <s:element name="customerNameControl" nillable="true" type="s:string" />
          <s:element name="dateOfLastMaintenance" nillable="true" type="s:string" />
          <s:element name="customerReviewDate" nillable="true" type="s:string" />
          <s:element name="birthIncorporationDate" nillable="true" type="s:string" />
          <s:element name="individualIndicator" nillable="true" type="s:string" />
          <s:element name="smsaCode" nillable="true" type="s:string" />
          <s:element name="businessType" nillable="true" type="s:string" />
          <s:element name="creditRating" nillable="true" type="s:string" />
          <s:element name="cifGroupCode" nillable="true" type="s:string" />
          <s:element name="cifCombinedCycle" nillable="true" type="s:string" />
          <s:element name="tinStatus" nillable="true" type="s:string" />
          <s:element name="stateWHCode" nillable="true" type="s:string" />
          <s:element name="fedWHDate" nillable="true" type="s:string" />
          <s:element name="uicUserDefined1" nillable="true" type="s:string" />
          <s:element name="uicUserDefined2" nillable="true" type="s:string" />
          <s:element name="uicUserDefined3" nillable="true" type="s:string" />
          <s:element name="uicUserDefined4" nillable="true" type="s:string" />
          <s:element name="uicUserDefined5" nillable="true" type="s:string" />
          <s:element name="uicUserDefined6" nillable="true" type="s:string" />
          <s:element name="uicUserDefined7" nillable="true" type="s:string" />
          <s:element name="uicUserDefined8" nillable="true" type="s:string" />
          <s:element name="customerStatus" nillable="true" type="s:string" />
          <s:element name="idIssuePlace" nillable="true" type="s:string" />
          <s:element name="idStatusCode" nillable="true" type="s:string" />
          <s:element name="birthIncoprtionPlace" nillable="true" type="s:string" />
          <s:element name="internalIndustryCode" nillable="true" type="s:string" />
          <s:element name="geographicalLocationCode" nillable="true" type="s:string" />
          <s:element name="debitACNumber" nillable="true" type="s:string" />
          <s:element name="debitACType" nillable="true" type="s:string" />
          <s:element name="ecrDraweeCode" nillable="true" type="s:string" />
          <s:element name="drawerNumber" nillable="true" type="s:string" />
          <s:element name="lastChagedByUser" nillable="true" type="s:string" />
          <s:element name="lastChanged" nillable="true" type="s:string" />
          <s:element name="lastChnagedTime" nillable="true" type="s:string" />
          <s:element name="noOfStatementCopies" nillable="true" type="s:string" />
          <s:element name="useInMBVALCF4" nillable="true" type="s:string" />
          <s:element name="informationDate" nillable="true" type="s:string" />
          <s:element name="dummyData" nillable="true" type="s:string" />
          <s:element name="reviewDate" nillable="true" type="s:string" />
          <s:element name="dupIDFlag" nillable="true" type="s:string" />
          <s:element name="businessUnitCode" nillable="true" type="s:string" />
          <s:element name="cifGroupMemberCode" nillable="true" type="s:string" />
          <s:element name="highRiskCustomerFlag" nillable="true" type="s:string" />
          <s:element name="dhnBlacklistFlag" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="CIFQuickCreationResponseDoc">
        <s:sequence>
          <s:element name="CIFQuickCreationResponse" nillable="true" type="tns:CIFQuickCreationResponse" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="CIFQuickCreationResponse">
        <s:sequence>
          <s:element minOccurs="0" name="soaHeader" nillable="true" type="tns:soaHeaderResponse" />
          <s:element minOccurs="0" name="securityHeader" nillable="true" type="tns:securityHeader" />
          <s:element minOccurs="0" name="dspHeader" nillable="true" type="tns:dspHeader" />
          <s:element minOccurs="0" name="dataHeader" nillable="true" type="tns:dataHeaderMbase" />
          <s:element name="body" nillable="true" type="tns:body2" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="soaHeaderResponse">
        <s:sequence>
          <s:element minOccurs="0" name="externalId" type="tns:externalId2" />
          <s:element name="tellerId" type="tns:tellerId2" />
          <s:element name="journalSequence" type="tns:journalSequence2" />
          <s:element name="transactionCode" type="tns:transactionCode2" />
          <s:element name="channelId" type="tns:channelId2" />
          <s:element name="timestamp" type="s:dateTime" />
          <s:element minOccurs="0" name="internalId" type="tns:internalId" />
          <s:element name="responseCode" type="s:int" />
          <s:element name="responseMessage" type="s:string" />
          <s:element name="responseTimestamp" type="s:dateTime" />
          <s:element minOccurs="0" name="errorNumber" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:simpleType name="externalId2">
        <s:restriction base="s:string">
          <s:whiteSpace value="preserve" />
          <s:pattern value="\d{1,19}" />
        </s:restriction>
      </s:simpleType>
      <s:simpleType name="tellerId2">
        <s:restriction base="s:long">
          <s:totalDigits value="7" />
        </s:restriction>
      </s:simpleType>
      <s:simpleType name="journalSequence2">
        <s:restriction base="s:long">
          <s:totalDigits value="7" />
        </s:restriction>
      </s:simpleType>
      <s:simpleType name="transactionCode2">
        <s:restriction base="s:string">
          <s:whiteSpace value="preserve" />
          <s:maxLength value="4" />
        </s:restriction>
      </s:simpleType>
      <s:simpleType name="channelId2">
        <s:restriction base="s:string">
          <s:whiteSpace value="preserve" />
          <s:maxLength value="10" />
        </s:restriction>
      </s:simpleType>
      <s:simpleType name="internalId">
        <s:restriction base="s:string">
          <s:whiteSpace value="preserve" />
          <s:pattern value="[0-9a-zA-Z+/=]{1,32}" />
          <s:maxLength value="32" />
        </s:restriction>
      </s:simpleType>
      <s:complexType name="body2">
        <s:sequence>
          <s:element name="customerName1" nillable="true" type="s:string" />
          <s:element name="customerName1A" nillable="true" type="s:string" />
          <s:element name="titleBeforeName" nillable="true" type="s:string" />
          <s:element name="titleAfterName" nillable="true" type="s:string" />
          <s:element name="eur" nillable="true" type="s:string" />
          <s:element name="bankNumber" nillable="true" type="s:string" />
          <s:element name="branchNumber" nillable="true" type="s:string" />
          <s:element name="shortNumber" nillable="true" type="s:string" />
          <s:element name="residentCode" nillable="true" type="s:string" />
          <s:element name="state" nillable="true" type="s:string" />
          <s:element name="county" nillable="true" type="s:string" />
          <s:element name="country" nillable="true" type="s:string" />
          <s:element name="countryOfCitizenship" nillable="true" type="s:string" />
          <s:element name="countryOfHeritage" nillable="true" type="s:string" />
          <s:element name="dmyG6" nillable="true" type="s:string" />
          <s:element name="idNumber" nillable="true" type="s:string" />
          <s:element name="idTypeCode" nillable="true" type="s:string" />
          <s:element name="dmyX6" nillable="true" type="s:string" />
          <s:element name="customerTypeCode" nillable="true" type="s:string" />
          <s:element name="subClass" nillable="true" type="s:string" />
          <s:element name="fedWHCode" nillable="true" type="s:string" />
          <s:element name="motherMaidenName" nillable="true" type="s:string" />
          <s:element name="addressLine1" nillable="true" type="s:string" />
          <s:element name="addressLine2" nillable="true" type="s:string" />
          <s:element name="addressLine3" nillable="true" type="s:string" />
          <s:element name="addressLine4" nillable="true" type="s:string" />
          <s:element name="postalCode" nillable="true" type="s:string" />
          <s:element name="electronicAddressDescription1" nillable="true" type="s:string" />
          <s:element name="electronicAddressDescription2" nillable="true" type="s:string" />
          <s:element name="customerNumber" nillable="true" type="s:string" />
          <s:element name="phoneticSearchKey" nillable="true" type="s:string" />
          <s:element name="addressSeqNo" nillable="true" type="s:string" />
          <s:element name="addressSequenceNo1" nillable="true" type="s:string" />
          <s:element name="userID" nillable="true" type="s:string" />
          <s:element name="jobName" nillable="true" type="s:string" />
          <s:element name="foreignAddress" nillable="true" type="s:string" />
          <s:element name="sexCode" nillable="true" type="s:string" />
          <s:element name="blacklistedFlag" nillable="true" type="s:string" />
          <s:element name="identifier" nillable="true" type="s:string" />
          <s:element name="retention" nillable="true" type="s:string" />
          <s:element name="aliasNameFlag" nillable="true" type="s:string" />
          <s:element name="shortNameSequence" nillable="true" type="s:string" />
          <s:element name="inquiryCode" nillable="true" type="s:string" />
          <s:element name="officerCode" nillable="true" type="s:string" />
          <s:element name="insiderCode" nillable="true" type="s:string" />
          <s:element name="vipCustomerCode" nillable="true" type="s:string" />
          <s:element name="deceasedCustomerFlag" nillable="true" type="s:string" />
          <s:element name="holdMailCode" nillable="true" type="s:string" />
          <s:element name="profitAnalysis" nillable="true" type="s:string" />
          <s:element name="sicUserDefined1" nillable="true" type="s:string" />
          <s:element name="sicUserDefined2" nillable="true" type="s:string" />
          <s:element name="sicUserDefined3" nillable="true" type="s:string" />
          <s:element name="sicUserDefined4" nillable="true" type="s:string" />
          <s:element name="sicUserDefined5" nillable="true" type="s:string" />
          <s:element name="sicUserDefined6" nillable="true" type="s:string" />
          <s:element name="sicUserDefined7" nillable="true" type="s:string" />
          <s:element name="sicUserDefined8" nillable="true" type="s:string" />
          <s:element name="customerNameControl" nillable="true" type="s:string" />
          <s:element name="dateOfLastMaintenance" nillable="true" type="s:string" />
          <s:element name="customerReviewDate" nillable="true" type="s:string" />
          <s:element name="birthIncorporationDate" nillable="true" type="s:string" />
          <s:element name="individualIndicator" nillable="true" type="s:string" />
          <s:element name="smsaCode" nillable="true" type="s:string" />
          <s:element name="businessType" nillable="true" type="s:string" />
          <s:element name="creditRating" nillable="true" type="s:string" />
          <s:element name="cifGroupCode" nillable="true" type="s:string" />
          <s:element name="cifCombinedCycle" nillable="true" type="s:string" />
          <s:element name="tinStatus" nillable="true" type="s:string" />
          <s:element name="stateWHCode" nillable="true" type="s:string" />
          <s:element name="fedWHDate" nillable="true" type="s:string" />
          <s:element name="uicUserDefined1" nillable="true" type="s:string" />
          <s:element name="uicUserDefined2" nillable="true" type="s:string" />
          <s:element name="uicUserDefined3" nillable="true" type="s:string" />
          <s:element name="uicUserDefined4" nillable="true" type="s:string" />
          <s:element name="uicUserDefined5" nillable="true" type="s:string" />
          <s:element name="uicUserDefined6" nillable="true" type="s:string" />
          <s:element name="uicUserDefined7" nillable="true" type="s:string" />
          <s:element name="uicUserDefined8" nillable="true" type="s:string" />
          <s:element name="customerStatus" nillable="true" type="s:string" />
          <s:element name="idIssuePlace" nillable="true" type="s:string" />
          <s:element name="idStatusCode" nillable="true" type="s:string" />
          <s:element name="birthIncoprtionPlace" nillable="true" type="s:string" />
          <s:element name="internalIndustryCode" nillable="true" type="s:string" />
          <s:element name="geographicalLocationCode" nillable="true" type="s:string" />
          <s:element name="debitACNumber" nillable="true" type="s:string" />
          <s:element name="debitACType" nillable="true" type="s:string" />
          <s:element name="ecrDraweeCode" nillable="true" type="s:string" />
          <s:element name="drawerNumber" nillable="true" type="s:string" />
          <s:element name="lastChagedByUser" nillable="true" type="s:string" />
          <s:element name="lastChanged" nillable="true" type="s:string" />
          <s:element name="lastChnagedTime" nillable="true" type="s:string" />
          <s:element name="noOfStatementCopies" nillable="true" type="s:string" />
          <s:element name="useInMBVALCF4" nillable="true" type="s:string" />
          <s:element name="informationDate" nillable="true" type="s:string" />
          <s:element name="dummyData" nillable="true" type="s:string" />
          <s:element name="reviewDate" nillable="true" type="s:string" />
          <s:element name="dupIDFlag" nillable="true" type="s:string" />
          <s:element name="businessUnitCode" nillable="true" type="s:string" />
          <s:element name="cifGroupMemberCode" nillable="true" type="s:string" />
          <s:element name="highRiskCustomerFlag" nillable="true" type="s:string" />
          <s:element name="dhnBlacklistFlag" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </types>
  <message name="CIFQuickCreationLoan_PortType_CIFQuickCreationRequestDoc">
    <part name="parameters" element="s0:CIFQuickCreationRequestDoc" />
  </message>
  <message name="CIFQuickCreationLoan_PortType_CIFQuickCreationResponseDoc">
    <part name="parameters" element="s0:CIFQuickCreationResponseDoc" />
  </message>
  <portType name="CIFQuickCreationLoan_PortType">
    <operation name="CIFQuickCreation">
      <input message="s0:CIFQuickCreationLoan_PortType_CIFQuickCreationRequestDoc" />
      <output message="s0:CIFQuickCreationLoan_PortType_CIFQuickCreationResponseDoc" />
    </operation>
  </portType>
  <binding name="mandiri_emas_ws_common_CIFQuickCreationLoan_Binder" type="s0:CIFQuickCreationLoan_PortType">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
    <operation name="CIFQuickCreation">
      <soap:operation soapAction="mandiri_emas_ws_common_CIFQuickCreationLoan_Binder_CIFQuickCreation" style="document" />
      <input>
        <soap:body use="literal" parts="parameters" />
      </input>
      <output>
        <soap:body use="literal" parts="parameters" />
      </output>
    </operation>
  </binding>
  <service name="CIFQuickCreationLoan">
    <port name="mandiri_emas_ws_common_CIFQuickCreationLoan_Port" binding="s0:mandiri_emas_ws_common_CIFQuickCreationLoan_Binder">
      <soap:address location="http://mdrsoadev01:8888/ws/mandiri.emas.ws.common:CIFQuickCreationLoan/mandiri_emas_ws_common_CIFQuickCreationLoan_Port" />
    </port>
  </service>
</definitions>